<app-header title="Lista de Pagos en Venta"></app-header>

<ion-content *ngIf="venta">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Venta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Fecha: {{venta.pagado |  date: 'dd/MM/yyyy'}}
      </ion-card-content>
      <ion-card-content>
        Deuda: {{venta.deuda}}
      </ion-card-content>
      <ion-card-content>
        Pagado: {{venta.pagado}}
      </ion-card-content>
      <ion-card-content>
        Usuario: {{venta.usuario.nombre}}
      </ion-card-content>
      <ion-card-content>
        Correo: {{venta.usuario.correo}}
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Productos comprados</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>Producto</ion-col>
          <ion-col>Cantidad</ion-col>
          <ion-col>Precio</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of venta.productoVenta">
          <ion-col>{{item.producto.nombre}}</ion-col>
          <ion-col>{{item.cantidad}}</ion-col>
          <ion-col>{{item.producto.precio}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pagos</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>Fecha</ion-col>
          <ion-col>Cantidad</ion-col>
          <ion-col>Metodo de Pago</ion-col>
        </ion-row>
        <ion-row *ngFor="let pago of pagos">
          <ion-col>{{pago.fecha |  date: 'dd/MM/yyyy'}}</ion-col>
          <ion-col>{{pago.cantidad}}</ion-col>
          <ion-col>{{pago.metodoPago.nombre}}</ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>

    

    <ion-fab  *ngIf="venta.deuda > 0" vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="setPago()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- <div class="ion-text-center ion-margin-top ion-padding">
        <ion-button expand="block" color="success" routerLink="/nuevo">
            <ion-icon name="add-circle" slot="icon-only"></ion-icon>
            Nuevo Producto
        </ion-button>
    </div> -->
</ion-content>

<ion-content *ngIf="!venta">
  <ion-card>
      <ion-card-header>
          <ion-card-title><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-card-title>
          <ion-card-subtitle><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-card-subtitle>

      </ion-card-header>

      <ion-card-content class="ion-text-justify">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
  </ion-card>
      <ion-button color="tertiary" expand="block" class="ion-margin-top ion-padding" (click)="volver()">
          <ion-icon name="arrow-back-circle"  slot="icon-only"></ion-icon>
          Atrás
      </ion-button>

</ion-content>