<app-header title="Lista de Ventas"></app-header>

<ion-content>
  <ion-card>
  <ion-grid >
    <ion-row class="ion-align-items-center">
      <ion-col>Cliente</ion-col>
      <ion-col>Fecha</ion-col>
      <ion-col>Pagado</ion-col>
      <ion-col>Deuda</ion-col>
      <ion-col>Detalles</ion-col>
    </ion-row>
    <ion-row *ngFor="let venta of ventas">
      <ion-col>{{venta.usuario.correo}}</ion-col>
      <ion-col>{{venta.fecha | date: 'dd/MM/yyyy'}}</ion-col>
      <ion-col>{{venta.pagado}}</ion-col>
      <ion-col>{{venta.deuda}}</ion-col>
      <ion-col>
        <ion-button expand="block" color="success" routerLink="/venta/{{venta.id}}">
          Detalles
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  </ion-card>
</ion-content>
